
body{
  font: normal 15pt Arial ;
  background: rgb(70, 142, 236);
}

header{
  color: white;
  text-align: center;
}

section{
  margin: auto;
  background: white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.36);
  border-radius: 10px;
  width: 500px;
  padding: 15px;
}

footer{
  color: white;
  font-style: italic;
  text-align: center;
}

#HorarioAtual{
    font:bold 20px Arial;
    padding: 15px;
    text-align: center;
}

#Imagems{
  margin-left: 25%;
}